<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<h1>Gateway</h1>
<div id="msg"></div>

<button onclick="getMe()">点击用axios发起ajax调用</button>
<button onclick="getMeByJquery()">点击用JQuery发起ajax调用</button>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
	function getMe() {
		axios.get('/usercenter/user/me').then(
				function(response) {
					document.getElementById("msg").textContent = "登录用户："
							+ response.data.username;
					console.log(response.data);
				});
	}

	function getMeByJquery() {
		$.get("/usercenter/user/me", function(result) {
			console.log(result);
		})
	}
	getMe();
</script>
</html>